<div class="navigation-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="logo-box"><img src="assets/images/logo.png"></div>
      </div>
      <div class="col-md-9">
        <div class="navigationMenu">
          <ul>
            <li> <a routerLink="/dashboard" href="">Dashboard</a></li>
            <li><a routerLink="/customers">Customers</a></li>
            <li><a routerLink="/brandstock">Stock</a></li>
            <li class="login-customer">
              <span> Welcome, Sanchit</span>
              <a href="javascript:;" routerLink="/login">logout <i class="fa fa-power-off" aria-hidden="true"></i></a>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>