<div class="container-fluid customerTable">
  <section class="customer-data">
    <div class="customerContainerHead">
      <h3 class="float-left">Customers List</h3>
      <button class="add-new-button float-right" routerLink="/customerdetails"> <i class="fa fa-plus"></i> New
        Customer</button>
      <div class="searchContainer float-right">
        <input type="text" name="" placeholder="Name, Mobile, PAN, Aadhar" id="">
        <button>Search</button>
      </div>

    </div>
    <div class="row">
      <div class="col-12 customerHeaderList">
        <div class="row">
          <div class="col-1">SR No.</div>
          <div class="col-2">Customer Name</div>
          <div class="col-2">Contact No.</div>
          <div class="col-2">Email</div>
          <div class="col-2">PAN Number</div>
          <div class="col-3">AADHAR Number</div>
        </div>
      </div>
      <div class="col-12 customerContentList">
        <div *ngFor="let data of customers" class="row" (click)="navigateToCustomer(data.id)">
          <div class="col-1">{{data.id}}</div>
          <div class="col-2">{{data.name}}</div>
          <div class="col-2">{{data.mobile}}</div>
          <div class="col-2">{{data.email}}</div>
          <div class="col-2">{{data.pancard}}</div>
          <div class="col-3">{{data.adharcard}}</div>
          <!-- <div class="col-1 text-center rowActions"><a routerLink="/customerdetails"><i class="fa fa-pencil"></i></a> <i
             class="fa fa-times" aria-hidden="true"></i>
         </div> -->
        </div>
      </div>

    </div>
  </section>
</div>
