section.customer-data {
  padding: 30px 30px 30px 30px;
  border: thin solid #ddd;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 40px;
  background: #fbfbfb;
  border-radius: 5px;
  box-shadow: 8px 8px 0px #00000017;
}

button.btn.btn-primary.save-btn {
  position: absolute;
  right: 15px;
  padding: 7px 14px;
  background: #0c9aa9;
  border-radius: 45px;
  font-size: 13px;
  font-weight: 100 !important;
}

.dashboardHeading {
  font-size: 25px;
  overflow: hidden;
  padding: 0px 0px 10px 0;
  margin: 0;
  color: #0c9aa9;
  text-shadow: 2px 2px #ececec;
}

.customerContainerHead {
  overflow: hidden;
  position: relative;
  border-bottom: thin solid #ddd;
  margin-bottom: 20px;
  padding: 5px 15px;
}

.new-entry .btn.btn-primary {
  margin-top: 30px;
}

button.btn.btn-add {
  padding: 5px 14px;
  border-radius: 15px;
  font-size: 12px;
  background: #efbb00;
  font-weight: 100 !important;
}

input[type="file"] {
  font-size: 12px;
}
