<!-- <form [formGroup]="myForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" value="Sanchit">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" value="Sanchit">

  </mat-form-field>
</form> -->


<form id="loginform" #loginForm="ngForm" (ngSubmit)="login(userData)">

  <div class="input-group">
    <label>Username</label>
    <input [(ngModel)]="userData.username" minlength="3" #username="ngModel" required type="text" name="username">
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
      <div *ngIf="username.errors.minlength">
        Username must be at least 3 characters long.
      </div>
    </div>
  </div>

  <div class="input-group">

    <label>Password</label>
    <input [(ngModel)]="userData.password" minlength="6" #password="ngModel" required type="password" name="password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters long.
      </div>
    </div>
  </div>
  <div class="input-group">
    <button class="btn btn-primary" [disabled]="!loginForm.form.valid" type="Sumbit">Login</button>

  </div>
</form>
