<div class="overlay" id="popup1"> 
    <!-- add "show" class -->
<div class="popup warning">
    <h2></h2>
    <a class="close">
        <i class="fa fa-times"></i>
    </a>
    <div class="content"> Please enter valid Username/Passowrd </div>
</div>
</div>

<app-header *ngIf="showHead"></app-header>

<!-- <zxing-scanner [enable]="scannerEnabled" (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled">
</zxing-scanner>

<button (click)='scan()'>scan</button>
{{qrResultString}} -->
<router-outlet></router-outlet>
<app-footer *ngIf="showHead"></app-footer>
