section.customer-details-section {

  h3 {
    border-top: thin solid #ddd;
    margin-top: 20px;
    padding: 10px 0 10px 20px;

    &:first-child {
      border: none;
    }
  }
}

button.btn.btn-primary.update-btn,
button.btn.btn-primary.save-btn {
  border-radius: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

button.btn.btn-primary.save-btn {
  background: #0c9aa9;
  border-color: #0c9aa9;
}

.new-entry .btn.btn-primary {
  margin-top: 30px;
}

.customer-details-data section h3 {
  border-bottom: thin solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: #0c9aa9;
  text-shadow: 3px 3px #ececec;
}

.btnBlock-customerDetails {
  margin-bottom: 30px;
  border-top: thin solid #ddd;
  padding: 25px 15px;
  margin-top: 20px;

  .btn {
    margin-left: 10px;
  }
}

.customer-details-data {
  padding: 40px 45px;

  section {
    padding: 30px;
    border: thin solid #ddd;
    width: 100%;
    margin-bottom: 30px;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 8px 8px 0px #00000017
  }
}

.noresize {
  resize: none;
}

.radio-btn {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  border: thin solid #ddd;
  padding: 6px 20px 6px 40px;
  border-radius: 21px;

  input {
    position: absolute;
    left: 11px;
    top: 8px;
    height: 20px;
    width: 18px;
  }

  label {
    margin: 0;
  }
}

button.btn.btn-add {
  position: absolute;
  right: 15px;
  padding: 5px 14px;
  border-radius: 15px;
  font-size: 12px;
  background: #efbb00;
  font-weight: 100 !important;

  i {
    margin-right: 5px;
  }
}

.btn:hover {
  background: #333333 !important;
  color: #fff !important;
  border-color: transparent !important;
}

label.custom-checkbox {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 12px;

  input {
    margin: 0px 6px 0 0;
    position: relative;
    top: 2px;
  }
}

.form-group>label {
  font-size: 14px;
  color: #737373;
}

input[type="file"] {
  font-size: 12px;
  overflow: hidden;
}



.modalpopup-overlay {
  position: fixed;
  z-index: 9999;
  background: #000000a6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  .modalpopup-heading h4 {
    border-bottom: thin solid #ddd;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
  }

  .modalpopup-content {
    background: #fff;
    padding: 30px 30px;
    position: fixed;
    left: 20px;
    top: 40px;
    bottom: 20px;
    right: 20px;
    overflow: auto;
  }

  span.modalpopup-times {
    position: fixed;
    right: 20px;
    background: #fff;
    top: 8px;
    padding: 5px 10px;
  }
}


ul.documents-Thumbs {
  margin: 0;
  list-style: none;
}

ul.documents-Thumbs li {
  top: 0;
  right: 0;
  vertical-align: top;
  width: 180px;
  display: inline-block;
  background: #fff;
  position: relative;
  margin-bottom: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  border: thin solid #ddd;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  &:hover {
    border: thin solid #b9b9b9;
    top: -3px;
    right: -3px;
    box-shadow: 3px 3px 0 0 #ddd;
  }

  img {
    max-width: 150px;
    max-height: 90px;
  }

  strong,
  span {
    width: 100%;
    display: inline-block;
    font-size: 13px;
  }

  a.removeImg {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 60px;
    text-align: center;

    i {
      color: #b11919;
    }
  }
}

.image_uploader input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  opacity: 0;
  font-size: 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.image_uploader{
  cursor: pointer;
  &:hover{
    &:after, button#photosaveid {
      background: #333333;
   }
  }
 &:after, button#photosaveid {
      content: "Upload Profile";
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    transition: all 0.5s;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #fff;
    background: #0c9aa9;
    font-size: 13px;
    line-height: 27px;
    width: 100%;
    border-radius: 4px;
}
 img {
  margin-bottom: 10px;
  max-height: 150px;
  max-width: 120px;

}
}
a.downloadImg {
  position: absolute;
  right: -1px;
  bottom: -1px;
  background: #f7e613;
  line-height: 24px;
  padding: 0 6px 0 9px;
  font-size: 10px;
  border-radius: 6px 0 0 0;
  text-align: center;
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.image_uploader.hidebtn::after{
  display: none;
}
button#photosaveid{
  position: absolute;
  z-index: 1;
}
ul.documents-Thumbs li:hover .downloadImg {
  opacity: 1;
  pointer-events: all;
}

ul.documents-Thumbs li .downloadImg:hover {
  background: #333 !important;
  color: #fff !important;
}
button.btn.btn-primary {
  background: #0c9aa9;
  border-color: #0c9aa9;
}

.detailstable-list {
  font-size: 12px;
  margin: 0px 15px 30px 15px;
  width: auto;
  border-top: solid thin #ddd;
}

.list-table-parent {
  font-size: 12px;
}

.customerHeaderList {
  background: #0C9AA9;
  color: #fff;
  text-transform: uppercase;

  .row {
    >div {
      border-right: thin solid #fff;
      padding: 8px 15px;

      &:last-child {
        border-right: none;
      }
    }


  }
}

.customerContentList {
  background: #efefef;

  .row {
    cursor: pointer;

    >div {
      border-right: thin solid #ddd;
      padding: 8px 15px;

      &:last-child {
        border-right: none;
      }
    }

    .rowActions i {
      width: 49%;
      text-align: center;
    }
  }

  &:hover {
    background: #ddecff !important;
    box-shadow: inset 0px 0px 2px #0C9AA9;
  }

}

.customerContentList:nth-child(odd) {
  background: #fff;
}


.barcodeScan {
  .button {
    position: absolute;
    right: 20px;
    cursor: pointer;
    bottom: 6px;
    height: 27px;
    font-size: 12px;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #0c9aa9;
    transition: all 0.3s;

    &:hover {
      background: #333333;
      color: #ffffff;
    }
  }

  input {
    padding-right: 70px;
  }
}

.form-group .error .error_msg {
  color: #962626;
  position: absolute;
  font-size: 10px;
  right: 17px;
  font-style: italic;
  font-weight: 600;
  bottom: -17px;
  width: 88%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.image_uploader a.removeImg {
  color: #ba1f1f;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 0.5s;
}

.image_uploader a.removeImg:hover {
  color: #333;
}

.image_uploader span {
  display: block;
  text-align: center;
}


.overlay {
  background: #00000075;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  &.is-on {
    opacity: 1;
    visibility: visible;
    .content {
      opacity: 1;
      visibility: visible;
      top: 0;
      border-radius: 5px;
      overflow: hidden;
      padding: 12px 12px 50px 12px;
    }
  }
  .content {
    background: #fff;
    position: absolute;
    top: -50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 80%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .imageCaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 13px;
      padding: 8px 15px;
      background: #000000c7;
      color: #fff;
  }
  a.downloadImgpop {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    opacity: 1;
    transition: all 0.5s;
    right: 53px;
    position: absolute;
    color: #0e92df;
    top: 12px;
    cursor: pointer;
    &:hover i {
      color: #333;
  }
  }
  

  }
  
  
}


#close {
  position: absolute;
  right: 17px;
  top: 10px;
  font-size: 17px;
  color: #b11919;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  ul.documents-Thumbs li {
    margin: 0 !important;
    padding: 15px !important;
}

ul.documents-Thumbs {
    text-align: center;
}

.overlay .content {
    width: 80% !important;
 }
 
  button.btn.btn-add {
    top: -4px !important;
    right: 0 !important;
    font-size: 0 !important;
    font-weight: 100 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px !important;
    text-align: center !important;
}

button.btn.btn-add i {
    font-size: 18px;
    padding: 0;
    text-align: right;
    position: relative;
    right: 2px;
    color: #fff;
    top: 1px;
}

  .customerTable .row, .detailstable-list{
  overflow: auto;
  }
  
  .customerHeaderList .row, .customerContentList .row,.customerHeaderList, .customerContentList {
  width: 1000px;
  max-width: none;
  }
  
  .searchContainer.float-right {
  float: none !important;
  width: 100% !important;
  text-align: center !important;
  }
  
  .searchContainer.float-right input {
  width: 100% !important;
  border-radius: 0 !important;
  text-align: center;
  }
  
  .customerContainerHead h3 {float: none !important;text-align: center;}
}  
