<div class="container-fluid customerTable">
    <section class="customer-data">
        <div class="w-100 customerContainerHead">
            <h3 class="float-left dashboardHeading">Today's Dashboard</h3>
            <a class="float-right"> <strong><i class="fa fa-calendar"></i> 22-4-2020 <i
                        class="fa fa-caret-down"></i></strong></a>
        </div>
        <div class="row">

            <div *ngIf="dashboardData && dashboardData.stock" class="col-xl-12 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title text-danger">Opening Stock</h5>
                                        </div>
                                    </div>
                                    <h1 class="display-5 mt-1 mb-3">{{dashboardData.stock.opening_stock}}</h1>

                                    <!-- <div class="mb-0">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 300
                                        </span>
                                        <span class="text-muted"> - Yesterday</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title">Sale Stock</h5>
                                        </div>
                                    </div>
                                    <h1 class="display-5 mt-1 mb-3">{{dashboardData.stock.sale_stock}}</h1>
                                    <!-- <div class="mb-0">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 78,621
                                        </span>
                                        <span class="text-muted"> - Yesterday</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title text-success">Purchase Stock</h5>
                                        </div>
                                    </div>
                                    <h1 class="display-5 mt-1 mb-3">{{dashboardData.stock.purchase_stock}}</h1>
                                    <!-- <div class="mb-0">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 150
                                        </span>
                                        <span class="text-muted"> - Yesterday</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title text-muted">Closing Stock</h5>
                                        </div>
                                    </div>
                                    <h1 class="display-5 mt-1 mb-3">{{dashboardData.stock.closing_stock}}</h1>
                                    <!-- <div class="mb-0">
                                        <span class="text-success"> <i
                                                class="mdi mdi-arrow-bottom-right fa fa-plus"></i> 22
                                        </span>
                                        <span class="text-muted"> - Today</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-xxl-7 d-none d-md-block">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <!-- <button mat-button mat-raised-button color="primary" class="btn btn-primary"
                                (click)="randomize()">Update</button> -->
                        </div>
                        <h5 class="card-title mb-0">Purchase & Sales Chart</h5>
                    </div>
                    <div class="card-body py-3">
                        <div class="chart chart-sm">
                            <div style="display: block">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-7" *ngIf="dashboardData && dashboardData.brands">
                <div class="card flex-fill w-100 ">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <!-- <button mat-button mat-raised-button color="primary" class="btn btn-primary"
                                (click)="randomize()">Update</button> -->
                        </div>
                        <h5 class="card-title mb-0">Current Brand Stock</h5>
                    </div>
                    <div class="card-body py-3">
                        <ul class="brandStocklist">
                            <li *ngFor="let data of dashboardData.brands" class="brandStock">{{data.name}}
                                <span>{{data.count}}</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <!-- <div *ngIf="dashboardData && dashboardData.brands" class="col-xl-12 brandStockDetails">
                <div class="w-100 customerContainerHead">
                    <h3 class="dashboardHeading">Current Brand Stock</h3>
                </div>
                
            </div> -->

        </div>


    </section>
    <section class="customer-data">
        <div class="customerContainerHead">
            <h3 class="float-left">EMI Reminder</h3>
        </div>
        <div class="row m-0">
            <div class="col-12 customerHeaderList">
                <div class="row">
                    <div class="col-2">Customer Name</div>
                    <div class="col-2">Contact No.</div>
                    <div class="col-2">Finance</div>
                    <div class="col-2">Due on Every Month</div>
                    <div class="col-2">Start date / End Date</div>
                    <div class="col-2">Product Details</div>
                </div>
            </div>
            <!--bindings={
        "ng-reflect-ng-for-of": "[object Object],[object Object"
      }-->

            <div *ngFor="let data of emiList | paginate: {id: 'pagination2', itemsPerPage: 5, currentPage: p }" class="col-12 customerContentList">
                <div class="row">
                    <div class="col-2">{{data.name}}</div>
                    <div class="col-2">{{data.mobile}}</div>
                    <div class="col-2">{{data.finance_name}}</div>
                    <div class="col-2">{{data.emi_due_date| date:'mediumDate'}}</div>
                    <div class="col-2">{{data.emi_start_date | date:'mediumDate'}} / {{data.emi_end_date| date:'mediumDate'}}</div>
                    <div class="col-2">{{data.brand}} - {{data.model}}</div>
                </div>
            </div>
        </div><br>
        <pagination-controls id="pagination2" (pageChange)="p = $event" class="ngx-pagination"></pagination-controls>
    </section>
    <section class="customer-data">
        <div class="customerContainerHead">
            <h3 class="float-left">Sales List</h3>
            <div class="searchContainer float-right"><input name="search" placeholder="Customer Name or Number/ Brand / Model" type="text" class="ng-untouched ng-pristine ng-valid"></div>
        </div>
        <div class="row m-0">
            <div class="col-12 customerHeaderList">
                <div class="row">
                    <div class="col-2">Customer Name</div>
                    <div class="col-1">Brand</div>
                    <div class="col-1">Model</div>
                    <div class="col-1">Date</div>
                    <div class="col-1">Payment</div>
                    <div class="col-2">Price</div>
                    <div class="col-2">IMEI 1</div>
                    <div class="col-2">IMEI 2</div>
                </div>
            </div>
            <div class="col-12 customerContentList" *ngFor="let data of salesList | paginate: {id: 'versionPagination', itemsPerPage: 5, currentPage: r }">
                <div class="row">
                    <div (click)="navigateToCustomer(data.cust_id)" class="col-2">{{data.name}}</div>
                    <div class="col-1">{{data.brand}}</div>
                    <div class="col-1">{{data.model}}</div>
                    <div class="col-1">{{data.purchase_date}}</div>
                    <div class="col-1">{{data.payment_mode}}</div>
                    <div class="col-2">₹{{data.price}}</div>
                    <div class="col-2">{{data.imei1}}</div>
                    <div class="col-2">{{data.imei2}}</div>
                </div>
            </div>
        </div>
        <pagination-controls id="versionPagination" (pageChange)="r = $event" class="ngx-pagination"></pagination-controls>
    </section>

</div>