/* You can add global styles to this file, and also import other style files */
// Width variables (appears count calculates by raw css)
@width3: 100%; // Appears 11 times

// Height variables (appears count calculates by raw css)
@height1: 100%; // Appears 4 times
@height2: 2px; // Appears 2 times

html {
  left: 0;
  min-height: @height1;
  position: absolute;
  top: 0;
  width: @width3;
}

body {
  font-family: 'Saira', sans-serif;
  left: 0;
  background-size: 500px;
  background-image: url('assets/images/loginBg.jpg');
  margin: 0;
  min-height: @height1;
  padding-bottom: 30px;
  padding: 0 0 41px 0 !important;
  position: absolute;
  top: 0;
  width: @width3;
  background-attachment: fixed;
  animation: mymove 60000s infinite;
}

@keyframes mymove {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 -2000000%;
  }

}


:host zxing-scanner::ng-deep {
  max-height: 200px;
  width: 100vw;
  object-fit: contain;
}


zxing-scanner {
  width: 150px;
  height: 150px;
}

span.badge {
  padding: 5px 15px;
}

ul.ngx-pagination {
  padding: 0;
  margin: 30px 0 30px 0;
  text-align:right;
  font-size:12px;
  li {
      &.current{
          background: #0c9aa9;
          min-width: 30px;
          min-height: 30px;
          text-align: center;
          line-height: 30px;
          padding: 0;
          border-radius: 40px;
      }
      a, button{
          min-width: 30px;
          min-height: 30px;
          text-align: center;
          line-height: 30px;
          padding: 0px 12px;
          border-radius: 40px;
          text-decoration: none !important;
          transition: all 0.5s;
          outline: none !important;
          
      }
  }
}

.ng2-tag-input {
  padding: 0 !important;
  border: 0 !important;
  input{
    font-family: 'Saira', sans-serif !important;
    font-size: 1rem !important;
    }
}

.ng-tns-c4-1, .ng-tns-c4-1 input,.ng-tns-c4-0, .ng-tns-c4-0 input {
  width: 100%;
}
.ng2-dropdown-menu__options-container ng2-menu-item div{
  padding: 10px 0 10px 10px !important;
  line-height:35px !important;
  color:#666 !important;
  font-family: 'Saira', sans-serif !important;
}

.ng2-tags-container tag delete-icon {position: absolute;right: 0;}

.tag-ripple div {
  display: none !important;
}

.ng2-tags-container tag {
width:100%  !important;
padding: 0 10px 0 10px;
font-size: 14px;
margin:2px !important;
background:#FFF !important;
border-radius:0 !important;
  font-family: 'Saira', sans-serif !important;
}

.ng2-tags-container tag:hover,.ng2-tags-container tag:active,.ng2-tags-container tag:focus {
box-shadow: none !important;
background: none !important;
color:#333;
}

.ng2-tags-container tag delete-icon.ng-star-inserted {
  position: absolute;
  right: 5px;
  top: -2px;
}

.ng2-tag-input__text-input{
  height:37px !important;
}

.ng2-tags-container tag {
  width: auto;
  padding: 0 10px 0 10px;
  font-size: 13px;
}

.ng2-tags-container tag:hover {
  box-shadow: none !important;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup.error {
  border-bottom: 3px solid #dc3545;
}
.popup.error h2 {
  color: #dc3545;
}
.popup.error h2:before {
  content: "Error";
}
.popup.error h2:after {
  content: "\f05c";
}
.popup.info h2:after {
  content: "\f05a";
}
.popup.info {
  border-bottom: 3px solid #1176bd;
}
.popup.info h2 {
  color: #1176bd;
}
.popup.info h2:before {
  content: "Information";
}
.popup.success h2:after {
  content: "\f00c";
}
.popup.success {
  border-bottom: 3px solid #1c790c;
}
.popup.success h2 {
  color: #1c790c;
}
.popup.success h2:before {
  content: "Success";
}
.popup.warning h2:after {
  content: "\f06a";
}
.popup.warning {
  border-bottom: 3px solid #d07d00;
}
.popup.warning h2 {
  color: #d07d00;
}
.popup.warning h2:before {
  content: "Warning";
}
.popuph2 {
  font-size: 26px;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: thin solid #eaeaea;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup h2:after {
  content: "";
  font-family: fontawesome;
  position: absolute;
  left: -30px;
  pointer-events: none;
  top: -60px;
  font-size: 160px;
  opacity: 0.15;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup a.close .fa {
  font-size: 16px;
  position: relative;
  top: -5px;
}